.inner2{
    color: crimson;
    font-size: 17px;
    margin-top: 20px;
    border: 2px dashed black;
}
.heading{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: black;
}
.info{
    margin-top: 4px;
}
.picture{
    margin-top: 20px;
    height: 450px;
    width: 500px;
    margin-bottom: 100px;
}
.topheading{
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    color: black;
    margin-top: 20px ;
}
/*body,html {*/
    /*height: 100%;*/
/*}*/
/*.outer{*/
    /*background-image: url(https://prodigalthought.files.wordpress.com/2015/12/book-stack.jpg?w=950);*/
    /*height: 100%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*opacity: 0.1;*/
/*}*/