.jumbotron{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px !important;
    padding-top: 20px !important;

}
.btn1,.btn2,.btn3,.btn4{
    width:13%;
    font-size: 20px;
    margin-right: 8%;
}
.search{
    font-size: 25px;
}

.inner2{
    color:red;
}