<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebars</title>
    <link type="text/css" rel="stylesheet" href="final.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .inner2{
        color:red;
    }
</style>
<body>
<div class="outer container-fluid" >
    <div class="row">
        <div class="inner1 col col-lg-6"></div>
        <div class="inner2 col col-lg-6">
           {{data}}<!--</div>-->
        </div>
    </div>
</div>
<ul >

</ul>
</body>
</html>

